

/******************CSS Footer*********************/
body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

/*Implementing Socicon */

@font-face {
  font-family: 'Socicon';
  src:  url('fonts/Socicon.eot');
  src:  url('fonts/Socicon.eot#iefix') format('embedded-opentype'),
    url('fonts/Socicon.woff2') format('woff2'),
    url('fonts/Socicon.ttf') format('truetype'),
    url('fonts/Socicon.woff') format('woff'),
    url('fonts/Socicon.svg#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="socicon-"], [class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}
/* oiso */
.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://i.gifer.com/tHi.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:25%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 15s linear infinite;
}
/* sangoku */
.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://i.gifer.com/ZJFD.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: -20%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 5s linear infinite ;
    animation-iteration-count: 1;
    animation-delay: 2s;

}
/* bledar qui danse */
.new_footer_top .footer_bg .footer_bg_three {
    background: url("https://i.gifer.com/VIjf.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 35s linear infinite;
    animation: myfirst 30s linear infinite;
}
/* sonic */
.new_footer_top .footer_bg .footer_bg_four {
    background: url("https://i.gifer.com/3F3F.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:65%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 35s linear infinite;
    animation: myfirst 14s linear infinite;
}

    animation-iteration-count: 1;
    animation-delay: 2s;

}


@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f7f7f9;
    background : no-repeat url('https://avisassets.abgemea.com/.imaging/flexibleIntroSmall/dam/DMS/global/hg2-images/intros/barcelona/Barcelona_at_golden_hour_Credit_iStock_Eloi_Omella.jpg.jpg');
    background-size: cover;    
}


.jumbotron_small {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #f7f7f9;
    background : no-repeat url('https://avisassets.abgemea.com/.imaging/flexibleIntroSmall/dam/DMS/global/hg2-images/intros/barcelona/Barcelona_at_golden_hour_Credit_iStock_Eloi_Omella.jpg.jpg');
    background-size: cover;
  }    